<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Compass CSI</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                
               <strong class="navbar-brand">Compass CSI</strong>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li>@Html.ActionLink("Home", "Index", "Home")</li>-->
                    <!--<li>@Html.ActionLink("Weekly Status Report", "About", "Home")</li>-->
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Live Status Reports
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("2017", "ProjectByStatus", "Home")</li>
                            <li>@Html.ActionLink("2018", "ProjectByStatus", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Project By Status", "ProjectByStatus", "Home")</li>
                    <li>@Html.ActionLink("Help","Help","Home")</li>
                    <!--<li>@Html.ActionLink("Contact", "Contact", "Home")</li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Questions or concerns? E-mail<a href="mailto:metin.tuzmen@sap.com"> Metin Tuzmen</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
